.container {
  align-items: stretch;
  background-color: rgba(0, 0, 0, 0);
  border: 0 solid black;
  box-sizing: border-box;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  list-style: none;
  margin: 0px;
  min-height: 0px;
  min-width: 0px;
  padding: 0px;
  position: relative;
  text-decoration: none;
  z-index: 0;
}
.container.flex {
  flex: 1;
}
.container.events {
  pointer-events: none!important;
}
.container .containerWrap {
  min-height: 100dvh;
  width: 100%;
  z-index: 0;
  pointer-events: auto;
}
.container .containerWrap .mainContainer {
  flex-grow: 1;
  flex-shrink: 1;
}
.container .containerWrap .mainContainer .mainWrap {
  flex: 1;
}
.container .containerWrap .mainContainer .mainWrap .content {
  min-height: auto;
  flex-direction: row-reverse;
  flex: 1 1 auto;
}
.container .containerWrap .mainContainer .mainWrap .content .auth {
  padding: 16px;
  min-width: 45vw;
  justify-content: center;
}
.container .containerWrap .mainContainer .mainWrap .content .auth .layout {
  max-width: 760px;
  min-width: 437px;
  padding: 20px;
  width: 100%;
}
.container .containerWrap .mainContainer .mainWrap .content .auth .layout .title {
  margin-bottom: 48px;
  margin-top: 48px;
  min-width: 0px;
  font-family: "Verdana";
  font-size: 64px;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: -1.2px;
  word-wrap: break-word;
}
.container .containerWrap .mainContainer .mainWrap .content .auth .layout .title span {
  text-overflow: unset;
  word-wrap: break-word;
  font-family: inherit;
  min-width: 0px;
}
.container .containerWrap .mainContainer .mainWrap .content .auth .layout .subtitle {
  margin-bottom: 32px;
  min-width: 0px;
  font-family: "Verdana";
  font-size: 31px;
  font-weight: 700;
  line-height: 36px;
}
.container .containerWrap .mainContainer .mainWrap .content .auth .layout .authForm .createAccount {
  border-color: rgba(0, 0, 0, 0);
  background-color: #1d9bf0;
}
.container .containerWrap .mainContainer .mainWrap .content .auth .layout .authForm .createAccount .buttonContent {
  text-overflow: unset;
  color: #ffffff;
}
.container .containerWrap .mainContainer .mainWrap .content .auth .layout .authForm .loginLink .buttonContent {
  text-overflow: unset;
  color: #1d9bf0;
}
.container .containerWrap .mainContainer .mainWrap .content .auth .layout .authForm .agreement {
  display: inline;
  flex: 1;
  margin-bottom: 20px;
  width: 300px;
  max-width: 380px;
  min-width: 0px;
  color: #536471;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: 400;
  word-wrap: break-word;
  text-overflow: unset;
  line-height: 12px;
}
.container .containerWrap .mainContainer .mainWrap .content .auth .layout .authForm .agreement .text {
  display: inline;
  min-width: 0px;
  text-overflow: unset;
  color: #1d9bf0;
  font-family: inherit;
  word-wrap: break-word;
}
.container .containerWrap .mainContainer .mainWrap .content .auth .layout .authForm .agreement a {
  cursor: pointer;
}
.container .containerWrap .mainContainer .mainWrap .content .auth .layout .authForm .loginForm {
  margin-top: 40px;
}
.container .containerWrap .mainContainer .mainWrap .content .auth .layout .authForm .loginForm .text {
  flex: 1;
  display: inline;
  margin-bottom: 20px;
  max-width: 380px;
  min-width: 0px;
  color: #0f1419;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  word-wrap: break-word;
  text-overflow: unset;
}
.container .containerWrap .mainContainer .mainWrap .content .logo {
  flex: 1;
  justify-content: center;
  padding: 0px;
  min-height: 45vh;
  overflow-x: hidden;
  overflow-y: hidden;
}
.container .containerWrap .mainContainer .mainWrap .content .logo .logoWrap {
  flex: 1;
  justify-content: center;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
}
.container .containerWrap .mainContainer .mainWrap .content .logo .logoWrap svg {
  display: inline-block;
  position: relative;
  justify-content: center;
  padding: 32px;
  max-width: 100%;
  max-height: 380px;
  height: 50%;
  vertical-align: text-bottom;
  color: #0f1419;
}
.containerBlock {
  background-color: rgba(0, 0, 0, 0);
  border: 0 solid black;
  box-sizing: border-box;
  color: #000000;
  display: inline;
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: inherit;
  text-decoration: none;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.formButton {
  margin-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  width: 300px;
  height: 40px;
  max-width: 380px;
  min-height: 36px;
  min-width: 36px;
  flex: 0 0 auto;
  border: 1px solid #cfd9de;
  border-radius: 9999px;
  background-color: #ffffff;
  outline-style: none;
  transition-duration: 0.2s;
  cursor: pointer;
}
.formButton .buttonContent {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0px;
  color: #0f1419;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-overflow: unset;
  word-wrap: break-word;
}
.formButton .buttonContent .gmail-icon {
  display: inline-block;
  margin-right: 4px;
  position: relative;
  vertical-align: text-bottom;
  width: 20px;
  height: 20px;
  max-width: 100%;
  color: #0f1419;
}
.formButton .buttonContent span {
  max-width: 100%;
  min-width: 0px;
  font-family: inherit;
  font-size: 15px;
  line-height: 20px;
  text-overflow: unset;
  word-wrap: break-word;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}
.formButton.login {
  margin: auto;
  margin-bottom: 12px;
  margin-top: 12px;
}
.formButton.login span {
  font-weight: 500;
  font-size: 14px;
}
.divider {
  margin-bottom: 4px;
  margin-top: 4px;
  max-width: 380px;
  width: 300px;
}
.divider .dividerWrap {
  flex-direction: row;
  margin: 4px -4px;
}
.divider .dividerWrap .leftLine,
.divider .dividerWrap .rightLine {
  flex: 1;
  flex-basis: 0px;
  justify-content: center;
  margin-left: 4px;
  margin-right: 4px;
  min-width: 0px;
}
.divider .dividerWrap .leftLine .line,
.divider .dividerWrap .rightLine .line {
  height: 1px;
  background-color: #eff3f4;
}
.divider .dividerWrap .center {
  flex-basis: auto;
  min-width: 0px;
  margin-left: 4px;
  margin-right: 4px;
}
.divider .dividerWrap .center .text {
  min-width: 0px;
  color: #0f1419;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-overflow: unset;
  word-wrap: break-word;
}
/*# sourceMappingURL=Home.css.map */