.group {
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 0px;
  width: 100vw;
  height: 100%;
  outline-style: none;
}
.group .bgContainer {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.4);
}
.group .modal {
  flex-shrink: 1;
  max-width: 80vw;
  min-width: 600px;
  max-height: 90vh;
  min-height: 400px;
  height: 650px;
  border-radius: 16px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.group .modal .modalContent {
  flex-shrink: 1;
  flex-grow: 1;
  background-color: #ffffff;
}
.group .modal .modalContent .alignContent {
  flex-shrink: 1;
  flex-grow: 1;
  align-self: stretch;
}
.group .modal .modalContent .alignContent .header {
  height: 53px;
  z-index: 2;
}
.group .modal .modalContent .alignContent .header .headerWrap {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  width: 100%;
  height: 53px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
.group .modal .modalContent .alignContent .header .headerWrap .closeContainer {
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  min-width: 56px;
  min-height: 32px;
}
.group .modal .modalContent .alignContent .header .headerWrap .closeContainer .closeWrap {
  min-width: 36px;
  min-height: 36px;
  margin-left: calc(-8px);
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  border-radius: 9999px;
  outline-style: none;
  transition-duration: 0.2s;
  cursor: pointer;
}
.group .modal .modalContent .alignContent .header .headerWrap .closeContainer .closeWrap:hover {
  background-color: rgba(15, 20, 25, 0.1);
}
.group .modal .modalContent .alignContent .header .headerWrap .closeContainer .closeWrap .close {
  flex-grow: 1;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  min-width: 0px;
  border-radius: 9999px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  color: #0f1419;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-overflow: unset;
  word-wrap: break-word;
}
.group .modal .modalContent .alignContent .header .headerWrap .closeContainer .closeWrap .close svg {
  position: relative;
  display: inline-block;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: #0f1419;
  vertical-align: text-bottom;
}
.group .modal .modalContent .alignContent .header .headerWrap .titleContainer {
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  height: 100%;
}
.group .modal .modalContent .alignContent .header .headerWrap .titleContainer .container {
  align-items: flex-start;
}
.group .modal .modalContent .alignContent .header .headerWrap .titleContainer .container h2 {
  display: inline;
  margin: 0px;
  padding: 0px;
  padding-bottom: 2px;
  padding-top: 2px;
  max-width: 100%;
  min-width: 0px;
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
  text-overflow: unset;
  color: #0f1419;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  word-wrap: break-word;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}
.group .modal .modalContent .alignContent .header .headerWrap .titleContainer .titleWrap {
  display: flex;
  min-width: 32px;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.group .modal .modalContent .alignContent .header .headerWrap .titleContainer .titleWrap svg {
  display: inline-block;
  position: relative;
  vertical-align: text-bottom;
  color: #0f1419;
  height: 1.75rem;
  max-width: 100%;
  flex-grow: 1;
}
.group .modal .modalContent .alignContent .accountInfo {
  flex-grow: 1;
  flex-shrink: 1;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  width: 100%;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent {
  padding-left: 80px;
  padding-right: 80px;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .infoHeader {
  margin-bottom: 20px;
  margin-top: 20px;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .infoHeader h1 {
  min-width: 0px;
  color: #0f1419;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 31px;
  font-weight: 700;
  line-height: 36px;
  word-wrap: break-word;
  text-overflow: unset;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .infoHeader h1 span {
  text-overflow: unset;
  word-wrap: break-word;
  font-family: inherit;
  min-width: 0px;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .infoHeader .infoSubheader {
  margin-top: 8px;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .infoHeader .infoSubheader .subheader {
  min-width: 0px;
  line-height: 20px;
  font-size: 15px;
  font-weight: 400;
  color: #536471;
  text-overflow: unset;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  word-wrap: break-word;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .infoHeader .infoSubheader .subheader span {
  min-width: 0px;
  font-family: inherit;
  text-overflow: unset;
  word-wrap: break-word;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayBox,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .verifyBox,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .passwordBox {
  padding: 12px 0px;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox label,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox label,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayBox label,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .verifyBox label,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .passwordBox label {
  flex-direction: row;
  border-color: #cfd9de;
  border-radius: 4px;
  border-width: 1px;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox label .inputWrap,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox label .inputWrap,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayBox label .inputWrap,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .verifyBox label .inputWrap,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .passwordBox label .inputWrap {
  flex-grow: 1;
  flex-shrink: 1;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox label .inputWrap .userInput,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox label .inputWrap .userInput,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayBox label .inputWrap .userInput,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .verifyBox label .inputWrap .userInput,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .passwordBox label .inputWrap .userInput {
  position: absolute;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox label .inputWrap .userInput .textWrap,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox label .inputWrap .userInput .textWrap,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayBox label .inputWrap .userInput .textWrap,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .verifyBox label .inputWrap .userInput .textWrap,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .passwordBox label .inputWrap .userInput .textWrap {
  padding: 16px 8px 0px 8px;
  max-width: 100%;
  min-width: 0px;
  text-overflow: unset;
  color: #536471;
  font-size: 17px;
  font-weight: 400;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s, color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s, font-size 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s, padding-top 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  line-height: 24px;
  word-wrap: break-word;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox label .inputWrap .userInput .textWrap span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox label .inputWrap .userInput .textWrap span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayBox label .inputWrap .userInput .textWrap span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .verifyBox label .inputWrap .userInput .textWrap span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .passwordBox label .inputWrap .userInput .textWrap span {
  color: inherit;
  min-width: 0px;
  font-family: inherit;
  word-wrap: break-word;
  text-overflow: unset;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox label .inputWrap .userInput .polite,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox label .inputWrap .userInput .polite,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayBox label .inputWrap .userInput .polite,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .verifyBox label .inputWrap .userInput .polite,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .passwordBox label .inputWrap .userInput .polite {
  display: none;
  max-width: 100%;
  flex: 1;
  justify-content: right;
  flex-direction: column;
  padding: 6px 6px 0px 6px;
  font-size: 13px;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox label .inputWrap .userInput .polite .politeWrap,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox label .inputWrap .userInput .polite .politeWrap,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayBox label .inputWrap .userInput .polite .politeWrap,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .verifyBox label .inputWrap .userInput .polite .politeWrap,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .passwordBox label .inputWrap .userInput .polite .politeWrap {
  flex-direction: row;
  justify-content: end;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox label .inputWrap .inputBox,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox label .inputWrap .inputBox,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayBox label .inputWrap .inputBox,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .verifyBox label .inputWrap .inputBox,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .passwordBox label .inputWrap .inputBox {
  flex-direction: row;
  flex-shrink: 1;
  flex-grow: 1;
  margin-top: 16px;
  padding: 12px 8px 8px 8px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox label .inputWrap .inputBox .containerBlock,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox label .inputWrap .inputBox .containerBlock,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayBox label .inputWrap .inputBox .containerBlock,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .verifyBox label .inputWrap .inputBox .containerBlock,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .passwordBox label .inputWrap .inputBox .containerBlock {
  display: flex;
  text-overflow: unset;
  color: #0f1419;
  word-wrap: break-word;
  min-width: 0px;
  font-size: 17px;
  font-weight: 400;
  width: 100%;
  align-items: center;
  line-height: 24px;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox label .inputWrap .inputBox .containerBlock input,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox label .inputWrap .inputBox .containerBlock input,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayBox label .inputWrap .inputBox .containerBlock input,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .verifyBox label .inputWrap .inputBox .containerBlock input,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .passwordBox label .inputWrap .inputBox .containerBlock input {
  box-sizing: border-box;
  padding: 0px;
  text-align: left;
  width: 100%;
  border-radius: 0px;
  border-width: 0px;
  background-color: rgba(0, 0, 0, 0);
  font-size: inherit;
  appearance: none;
  outline-style: none;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox label .inputWrap .inputBox .iconBox,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox label .inputWrap .inputBox .iconBox,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayBox label .inputWrap .inputBox .iconBox,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .verifyBox label .inputWrap .inputBox .iconBox,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .passwordBox label .inputWrap .inputBox .iconBox {
  padding-left: 4px;
  align-self: center;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox label .inputWrap .inputBox .iconBox .iconWrap,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox label .inputWrap .inputBox .iconBox .iconWrap,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayBox label .inputWrap .inputBox .iconBox .iconWrap,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .verifyBox label .inputWrap .inputBox .iconBox .iconWrap,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .passwordBox label .inputWrap .inputBox .iconBox .iconWrap {
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  transition-duration: 0.2s;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox label .inputWrap .inputBox .iconBox .iconWrap .icon,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox label .inputWrap .inputBox .iconBox .iconWrap .icon,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayBox label .inputWrap .inputBox .iconBox .iconWrap .icon,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .verifyBox label .inputWrap .inputBox .iconBox .iconWrap .icon,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .passwordBox label .inputWrap .inputBox .iconBox .iconWrap .icon {
  min-width: 0px;
  text-overflow: unset;
  color: #0f1419;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 20px;
  word-wrap: break-word;
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  display: flex;
  cursor: pointer;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox label.activeLabel .textWrap.focused,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox label.activeLabel .textWrap.focused,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayBox label.activeLabel .textWrap.focused,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .verifyBox label.activeLabel .textWrap.focused,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .passwordBox label.activeLabel .textWrap.focused,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox label .emptyLabel .textWrap.focused,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox label .emptyLabel .textWrap.focused,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayBox label .emptyLabel .textWrap.focused,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .verifyBox label .emptyLabel .textWrap.focused,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .passwordBox label .emptyLabel .textWrap.focused,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox label .invalidInput .textWrap.focused,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox label .invalidInput .textWrap.focused,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayBox label .invalidInput .textWrap.focused,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .verifyBox label .invalidInput .textWrap.focused,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .passwordBox label .invalidInput .textWrap.focused {
  padding: 8px 8px 0px 8px !important;
  line-height: normal !important;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox label.activeLabel .textWrap.focused span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox label.activeLabel .textWrap.focused span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayBox label.activeLabel .textWrap.focused span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .verifyBox label.activeLabel .textWrap.focused span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .passwordBox label.activeLabel .textWrap.focused span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox label .emptyLabel .textWrap.focused span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox label .emptyLabel .textWrap.focused span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayBox label .emptyLabel .textWrap.focused span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .verifyBox label .emptyLabel .textWrap.focused span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .passwordBox label .emptyLabel .textWrap.focused span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox label .invalidInput .textWrap.focused span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox label .invalidInput .textWrap.focused span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayBox label .invalidInput .textWrap.focused span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .verifyBox label .invalidInput .textWrap.focused span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .passwordBox label .invalidInput .textWrap.focused span {
  vertical-align: top;
  font-size: small;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox label.activeLabel .inputWrap .userInput .polite,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox label.activeLabel .inputWrap .userInput .polite,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayBox label.activeLabel .inputWrap .userInput .polite,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .verifyBox label.activeLabel .inputWrap .userInput .polite,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .passwordBox label.activeLabel .inputWrap .userInput .polite,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox label .emptyLabel .inputWrap .userInput .polite,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox label .emptyLabel .inputWrap .userInput .polite,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayBox label .emptyLabel .inputWrap .userInput .polite,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .verifyBox label .emptyLabel .inputWrap .userInput .polite,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .passwordBox label .emptyLabel .inputWrap .userInput .polite,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox label .invalidInput .inputWrap .userInput .polite,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox label .invalidInput .inputWrap .userInput .polite,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayBox label .invalidInput .inputWrap .userInput .polite,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .verifyBox label .invalidInput .inputWrap .userInput .polite,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .passwordBox label .invalidInput .inputWrap .userInput .polite {
  display: flex;
  flex-direction: row;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox .assertive,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox .assertive,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayBox .assertive,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .verifyBox .assertive,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .passwordBox .assertive {
  flex-direction: row;
  padding-left: 8px;
  padding-right: 8px;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox .assertive .box,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox .assertive .box,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayBox .assertive .box,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .verifyBox .assertive .box,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .passwordBox .assertive .box {
  flex: 1;
  flex-direction: column;
  padding-right: 20px;
  padding-top: 2px;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox .assertive .box .assertiveContent,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox .assertive .box .assertiveContent,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayBox .assertive .box .assertiveContent,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .verifyBox .assertive .box .assertiveContent,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .passwordBox .assertive .box .assertiveContent {
  align-self: flex-start;
  min-width: 0px;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-overflow: unset;
  word-wrap: break-word;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox .assertive .box .assertiveContent.verification,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox .assertive .box .assertiveContent.verification,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayBox .assertive .box .assertiveContent.verification,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .verifyBox .assertive .box .assertiveContent.verification,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .passwordBox .assertive .box .assertiveContent.verification {
  color: #1d9bf0;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox .assertive .box .assertiveContent.warning,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox .assertive .box .assertiveContent.warning,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayBox .assertive .box .assertiveContent.warning,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .verifyBox .assertive .box .assertiveContent.warning,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .passwordBox .assertive .box .assertiveContent.warning {
  color: #f4212e;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox .assertive .box .assertiveContent span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox .assertive .box .assertiveContent span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayBox .assertive .box .assertiveContent span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .verifyBox .assertive .box .assertiveContent span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .passwordBox .assertive .box .assertiveContent span {
  min-width: 0px;
  color: inherit;
  font-family: inherit;
  text-overflow: unset;
  word-wrap: break-word;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox .filled .textWrap,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox .filled .textWrap,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayBox .filled .textWrap,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .verifyBox .filled .textWrap,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .passwordBox .filled .textWrap {
  padding: 8px 8px 0px 8px !important;
  line-height: normal !important;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox .filled .textWrap span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox .filled .textWrap span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayBox .filled .textWrap span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .verifyBox .filled .textWrap span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .passwordBox .filled .textWrap span {
  vertical-align: top;
  font-size: small;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox .activeLabel,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox .activeLabel,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayBox .activeLabel,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .verifyBox .activeLabel,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .passwordBox .activeLabel {
  border-color: #1d9bf0;
  box-shadow: #1d9bf0 0px 0px 0px 1px;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox .activeLabel .textWrap span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox .activeLabel .textWrap span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayBox .activeLabel .textWrap span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .verifyBox .activeLabel .textWrap span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .passwordBox .activeLabel .textWrap span {
  color: #1d9bf0 !important;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox .emptyLabel,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox .emptyLabel,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayBox .emptyLabel,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .verifyBox .emptyLabel,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .passwordBox .emptyLabel,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox .invalidInput,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox .invalidInput,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayBox .invalidInput,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .verifyBox .invalidInput,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .passwordBox .invalidInput {
  border-color: #f4212e;
  box-shadow: #f4212e 0px 0px 0px 1px;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox .emptyLabel .textWrap.focused span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox .emptyLabel .textWrap.focused span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayBox .emptyLabel .textWrap.focused span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .verifyBox .emptyLabel .textWrap.focused span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .passwordBox .emptyLabel .textWrap.focused span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox .invalidInput .textWrap.focused span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox .invalidInput .textWrap.focused span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayBox .invalidInput .textWrap.focused span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .verifyBox .invalidInput .textWrap.focused span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .passwordBox .invalidInput .textWrap.focused span {
  color: #f4212e !important;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox .invalidInput .textWrap span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox .invalidInput .textWrap span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayBox .invalidInput .textWrap span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .verifyBox .invalidInput .textWrap span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .passwordBox .invalidInput .textWrap span {
  color: #f4212e !important;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox .disabled,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox .disabled,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayBox .disabled,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .verifyBox .disabled,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .passwordBox .disabled {
  background-color: #eff3f4;
  opacity: 0.5;
  cursor: default;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayForm {
  margin-top: 20px;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayForm .title {
  margin-bottom: 8px;
  min-width: 0px;
  color: #0f1419;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  word-wrap: break-word;
  text-overflow: unset;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayForm .subtitle {
  margin-bottom: 4px;
  min-width: 0px;
  color: #536471;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-overflow: unset;
  word-wrap: break-word;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayForm .title span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayForm .subtitle span {
  color: inherit;
  min-width: 0px;
  text-overflow: unset;
  word-wrap: break-word;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayForm .dataPicker {
  flex-direction: row;
  margin-bottom: 16px;
  margin-top: 16px;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayForm .dataPicker .dataBox {
  background-color: #ffffff;
  border-color: #cfd9de;
  border-radius: 4px;
  border-width: 1px;
  color: #536471;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayForm .dataPicker .dataBox label {
  position: absolute;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 0px;
  font-size: 13px;
  font-weight: 400;
  text-overflow: unset;
  color: inherit;
  line-height: 16px;
  word-wrap: break-word;
  pointer-events: none!important;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayForm .dataPicker .dataBox label span {
  color: inherit;
  text-overflow: unset;
  word-wrap: break-word;
  min-width: 0px;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayForm .dataPicker .dataBox select {
  margin: 0px;
  margin-top: 16px;
  padding: 12px 8px 8px 8px;
  border-width: 0px;
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0);
  color: #0f1419;
  font-size: 17px;
  line-height: 20px;
  outline-style: none;
  appearance: none;
  cursor: pointer;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayForm .dataPicker .dataBox select option {
  background-color: #ffffff;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayForm .dataPicker .dataBox svg {
  display: inline-block;
  position: absolute;
  margin-top: -0.75em;
  max-width: 100%;
  vertical-align: text-bottom;
  height: 1.5em;
  right: 12px;
  top: 50%;
  color: #536471;
  pointer-events: none!important;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayForm .dataPicker .dataBox.activeSelect {
  border-color: #1d9bf0;
  box-shadow: #1d9bf0 0px 0px 0px 1px;
  color: #1d9bf0;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayForm .dataPicker .month {
  flex-grow: 2;
  margin-right: 12px;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayForm .dataPicker .day {
  flex-grow: 1;
  margin-right: 12px;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayForm .dataPicker .year {
  flex-grow: 1;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent svg.checked {
  display: none;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent svg.show {
  width: 22px;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .editInput svg.checked {
  display: inline-block;
  position: relative;
  padding-left: 4px;
  max-width: 100%;
  height: 1.25em;
  align-self: center;
  vertical-align: text-bottom;
  fill: #00ba7c;
}
.group .modal .modalContent .alignContent .accountInfo .nextContainer {
  padding-left: 80px;
  padding-right: 80px;
}
.group .modal .modalContent .alignContent .accountInfo .nextContainer .agreement {
  margin-top: 16px;
  min-width: 0px;
  text-overflow: unset;
  font-size: 13px;
  font-weight: 400;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 16px;
  color: #536471;
  word-wrap: break-word;
}
.group .modal .modalContent .alignContent .accountInfo .nextContainer .agreement.hidden {
  display: none;
}
.group .modal .modalContent .alignContent .accountInfo .nextContainer .agreement span {
  min-width: 0px;
  font-family: inherit;
  text-overflow: unset;
  word-wrap: break-word;
  color: inherit;
}
.group .modal .modalContent .alignContent .accountInfo .nextContainer .agreement a {
  min-width: 0px;
  text-overflow: unset;
  word-wrap: break-word;
  font-family: inherit;
  color: #1d9bf0;
  cursor: pointer;
}
.group .modal .modalContent .alignContent .accountInfo .nextContainer .nextWrap {
  margin-bottom: 24px;
  margin-top: 24px;
}
.group .modal .modalContent .alignContent .accountInfo .nextContainer .nextWrap .nextBox {
  padding-left: 32px;
  padding-right: 32px;
  min-width: 52px;
  min-height: 52px;
  background-color: #0f1419;
  border-radius: 9999px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  transition-duration: 0.2s;
  opacity: 0.5;
  outline-style: none;
  cursor: pointer;
}
.group .modal .modalContent .alignContent .accountInfo .nextContainer .nextWrap .nextBox .nextContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
  min-width: 0px;
  text-align: center;
  text-overflow: unset;
  color: #ffffff;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  word-wrap: break-word;
}
.group .modal .modalContent .alignContent .accountInfo .nextContainer .nextWrap .nextBox .nextContent span {
  max-width: 100%;
  min-width: 0px;
  font-size: 17px;
  color: inherit;
  text-overflow: unset;
  line-height: 20px;
  word-wrap: break-word;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}
.group .modal .modalContent .alignContent .accountInfo .nextContainer .nextWrap .nextBox.active {
  opacity: 1;
  transition-duration: 0.2s;
}
.group .modal .modalContent .alignContent .accountInfo .nextContainer .nextWrap .nextBox.complited {
  border-color: rgba(0, 0, 0, 0);
  background-color: #1d9bf0;
}
/*# sourceMappingURL=CreateUserModal.css.map */