.group {
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 0px;
  width: 100vw;
  height: 100%;
  outline-style: none;
}
.group .bgContainer {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.4);
}
.group .modal {
  flex-shrink: 1;
  max-width: 80vw;
  min-width: 600px;
  max-height: 90vh;
  min-height: 400px;
  height: 650px;
  border-radius: 16px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.group .modal .modalContent {
  flex-shrink: 1;
  flex-grow: 1;
  background-color: #ffffff;
}
.group .modal .modalContent .alignContent {
  flex-shrink: 1;
  flex-grow: 1;
  align-self: stretch;
}
.group .modal .modalContent .alignContent .header {
  height: 53px;
  z-index: 2;
}
.group .modal .modalContent .alignContent .header .headerWrap {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  width: 100%;
  height: 53px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
.group .modal .modalContent .alignContent .header .headerWrap .closeContainer {
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  min-width: 56px;
  min-height: 32px;
}
.group .modal .modalContent .alignContent .header .headerWrap .closeContainer .closeWrap {
  min-width: 36px;
  min-height: 36px;
  margin-left: calc(-8px);
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  outline-style: none;
  transition-duration: 0.2s;
  cursor: pointer;
}
.group .modal .modalContent .alignContent .header .headerWrap .closeContainer .closeWrap .close {
  flex-grow: 1;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  min-width: 0px;
  border-radius: 9999px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  color: #0f1419;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-overflow: unset;
  word-wrap: break-word;
}
.group .modal .modalContent .alignContent .header .headerWrap .closeContainer .closeWrap .close svg {
  position: relative;
  display: inline-block;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: #0f1419;
  vertical-align: text-bottom;
}
.group .modal .modalContent .alignContent .header .headerWrap .titleContainer {
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  height: 100%;
}
.group .modal .modalContent .alignContent .header .headerWrap .titleContainer .container {
  align-items: flex-start;
}
.group .modal .modalContent .alignContent .header .headerWrap .titleContainer .container h2 {
  display: inline;
  margin: 0px;
  padding: 0px;
  padding-bottom: 2px;
  padding-top: 2px;
  max-width: 100%;
  min-width: 0px;
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
  text-overflow: unset;
  color: #0f1419;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  word-wrap: break-word;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}
.group .modal .modalContent .alignContent .accountInfo {
  flex-grow: 1;
  flex-shrink: 1;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  width: 100%;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent {
  padding-left: 80px;
  padding-right: 80px;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .infoHeader {
  margin-bottom: 20px;
  margin-top: 20px;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .infoHeader h1 {
  min-width: 0px;
  color: #0f1419;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 31px;
  font-weight: 700;
  line-height: 36px;
  word-wrap: break-word;
  text-overflow: unset;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .infoHeader h1 span {
  text-overflow: unset;
  word-wrap: break-word;
  font-family: inherit;
  min-width: 0px;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox {
  padding: 12px 0px;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox label,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox label {
  flex-direction: row;
  border-color: #cfd9de;
  border-radius: 4px;
  border-width: 1px;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox label .inputWrap,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox label .inputWrap {
  flex-grow: 1;
  flex-shrink: 1;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox label .inputWrap .userInput,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox label .inputWrap .userInput {
  position: absolute;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox label .inputWrap .userInput .textWrap,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox label .inputWrap .userInput .textWrap {
  padding: 16px 8px 0px 8px;
  max-width: 100%;
  min-width: 0px;
  text-overflow: unset;
  color: #536471;
  font-size: 17px;
  font-weight: 400;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s, color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s, font-size 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s, padding-top 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  line-height: 24px;
  word-wrap: break-word;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox label .inputWrap .userInput .textWrap span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox label .inputWrap .userInput .textWrap span {
  color: inherit;
  min-width: 0px;
  font-family: inherit;
  word-wrap: break-word;
  text-overflow: unset;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox label .inputWrap .userInput .polite,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox label .inputWrap .userInput .polite {
  display: none;
  max-width: 100%;
  flex: 1;
  justify-content: right;
  flex-direction: column;
  padding: 6px 6px 0px 6px;
  font-size: 13px;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox label .inputWrap .userInput .polite .politeWrap,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox label .inputWrap .userInput .polite .politeWrap {
  flex-direction: row;
  justify-content: end;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox label .inputWrap .inputBox,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox label .inputWrap .inputBox {
  flex-direction: row;
  flex-shrink: 1;
  flex-grow: 1;
  margin-top: 16px;
  padding: 12px 8px 8px 8px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox label .inputWrap .inputBox .containerBlock,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox label .inputWrap .inputBox .containerBlock {
  display: flex;
  text-overflow: unset;
  color: #0f1419;
  word-wrap: break-word;
  min-width: 0px;
  font-size: 17px;
  font-weight: 400;
  width: 100%;
  align-items: center;
  line-height: 24px;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox label .inputWrap .inputBox .containerBlock input,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox label .inputWrap .inputBox .containerBlock input {
  box-sizing: border-box;
  padding: 0px;
  text-align: left;
  width: 100%;
  border-radius: 0px;
  border-width: 0px;
  background-color: rgba(0, 0, 0, 0);
  font-size: inherit;
  appearance: none;
  outline-style: none;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox .hidden,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox .hidden {
  flex-direction: row;
  padding-left: 8px;
  padding-right: 8px;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox .hidden .box,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox .hidden .box {
  flex: 1;
  flex-direction: column;
  padding-right: 20px;
  padding-top: 2px;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox .activeNameLabel,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox .activeNameLabel {
  border: 2px solid #1d9bf0;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox .activeNameLabel .textWrap,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox .activeNameLabel .textWrap {
  padding: 8px 8px 0px 8px !important;
  line-height: normal !important;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox .activeNameLabel .textWrap span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox .activeNameLabel .textWrap span {
  vertical-align: top;
  font-size: small;
  color: #1d9bf0 !important;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .nameBox .activeNameLabel .polite,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .loginBox .activeNameLabel .polite {
  display: flex !important;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayForm {
  margin-top: 20px;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayForm .title {
  margin-bottom: 8px;
  min-width: 0px;
  color: #0f1419;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  word-wrap: break-word;
  text-overflow: unset;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayForm .subtitle {
  margin-bottom: 4px;
  min-width: 0px;
  color: #536471;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-overflow: unset;
  word-wrap: break-word;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayForm .title span,
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayForm .subtitle span {
  color: inherit;
  min-width: 0px;
  text-overflow: unset;
  word-wrap: break-word;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayForm .dataPicker {
  flex-direction: row;
  margin-bottom: 16px;
  margin-top: 16px;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayForm .dataPicker .dataBox {
  background-color: #ffffff;
  border-color: #cfd9de;
  border-radius: 4px;
  border-width: 1px;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayForm .dataPicker .dataBox label {
  position: absolute;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 0px;
  font-size: 13px;
  font-weight: 400;
  text-overflow: unset;
  color: #536471;
  line-height: 16px;
  word-wrap: break-word;
  pointer-events: none!important;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayForm .dataPicker .dataBox label span {
  color: inherit;
  text-overflow: unset;
  word-wrap: break-word;
  min-width: 0px;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayForm .dataPicker .dataBox select {
  margin: 0px;
  margin-top: 16px;
  padding: 12px 8px 8px 8px;
  border-width: 0px;
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0);
  color: #0f1419;
  font-size: 17px;
  line-height: 20px;
  outline-style: none;
  appearance: none;
  cursor: pointer;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayForm .dataPicker .dataBox select option {
  background-color: #ffffff;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayForm .dataPicker .dataBox svg {
  display: inline-block;
  position: absolute;
  margin-top: -0.75em;
  max-width: 100%;
  vertical-align: text-bottom;
  height: 1.5em;
  right: 12px;
  top: 50%;
  color: #536471;
  pointer-events: none!important;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayForm .dataPicker .month {
  flex-grow: 2;
  margin-right: 12px;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayForm .dataPicker .day {
  flex-grow: 1;
  margin-right: 12px;
}
.group .modal .modalContent .alignContent .accountInfo .wrapper .accountContent .birthdayForm .dataPicker .year {
  flex-grow: 1;
}
.group .modal .modalContent .alignContent .accountInfo .nextContainer {
  padding-left: 80px;
  padding-right: 80px;
}
.group .modal .modalContent .alignContent .accountInfo .nextContainer .nextWrap {
  margin-bottom: 24px;
  margin-top: 24px;
}
.group .modal .modalContent .alignContent .accountInfo .nextContainer .nextWrap .nextBox {
  padding-left: 32px;
  padding-right: 32px;
  min-width: 52px;
  min-height: 52px;
  background-color: #0f1419;
  border-radius: 9999px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0);
  transition-duration: 0.2s;
  opacity: 0.5;
  outline-style: none;
}
.group .modal .modalContent .alignContent .accountInfo .nextContainer .nextWrap .nextBox .nextContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
  min-width: 0px;
  text-align: center;
  text-overflow: unset;
  color: #ffffff;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  word-wrap: break-word;
}
.group .modal .modalContent .alignContent .accountInfo .nextContainer .nextWrap .nextBox .nextContent span {
  max-width: 100%;
  min-width: 0px;
  font-size: 17px;
  color: inherit;
  text-overflow: unset;
  line-height: 20px;
  word-wrap: break-word;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}
/*# sourceMappingURL=CreateUserModal.css.map */