.group {
    position: fixed;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 0px;
    width: 100vw;
    height: 100%;
    outline-style: none;

    .bgContainer {
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: rgba(0,0,0,0.40);
    }

    .modal {
        flex-shrink: 1;
        max-width: 80vw;
        min-width: 600px;
        max-height: 90vh;
        min-height: 400px;
        height: 650px;
        border-radius: 16px;
        overflow-x: hidden;
        overflow-y: hidden;

        .modalContent {
            flex-shrink: 1;
            flex-grow: 1;
            background-color: rgba(255,255,255,1.00);

            .alignContent {
                flex-shrink: 1;
                flex-grow: 1;
                align-self: stretch;

                .header {
                    height: 53px;
                    z-index: 2;

                    .headerWrap {
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        max-width: 600px;
                        width: 100%;
                        height: 53px;
                        padding-left: 16px;
                        padding-right: 16px;
                        margin-left: auto;
                        margin-right: auto;

                        .closeContainer {
                            justify-content: center;
                            align-items: flex-start;
                            align-self: stretch;
                            min-width: 56px;
                            min-height: 32px;

                            .closeWrap {
                                min-width: 36px;
                                min-height: 36px;
                                margin-left: calc(-8px);
                                background-color: rgba(0, 0, 0, 0);
                                border-color: rgba(0, 0, 0, 0);
                                border-radius: 9999px;
                                outline-style: none;
                                transition-duration: 0.2s;
                                cursor: pointer;

                                &:hover {
                                    background-color: rgba(15, 20, 25, 0.1);
                                }

                                .close {
                                    flex-grow: 1;
                                    justify-content: center;
                                    flex-direction: row;
                                    align-items: center;
                                    min-width: 0px;
                                    border-radius: 9999px;
                                    border-width: 1px;
                                    border-style: solid;
                                    border-color: rgba(0, 0, 0, 0);
                                    color: rgb(15, 20, 25);
                                    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
                                    font-size: 15px;
                                    font-weight: 700;
                                    line-height: 20px;
                                    text-align: center;
                                    text-overflow: unset;
                                    word-wrap: break-word;

                                    svg {
                                        position: relative;
                                        display: inline-block;
                                        max-width: 100%;
                                        width: 20px;
                                        height: 20px;
                                        color: rgb(15, 20, 25);
                                        vertical-align: text-bottom;
                                    }
                                }
                            }
                        }

                        .titleContainer {
                            flex-grow: 1;
                            flex-shrink: 1;
                            justify-content: center;
                            height: 100%;

                            .container {
                                align-items: flex-start;

                                h2 {
                                    display: inline;
                                    margin: 0px;
                                    padding: 0px;
                                    padding-bottom: 2px;
                                    padding-top: 2px;
                                    max-width: 100%;
                                    min-width: 0px;
                                    line-height: 24px;
                                    font-size: 20px;
                                    font-weight: 700;
                                    text-overflow: unset;
                                    color: rgb(15, 20, 25);
                                    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
                                    word-wrap: break-word;
                                    white-space: nowrap;
                                    overflow-x: hidden;
                                    overflow-y: hidden;
                                    span {

                                    }
                                }
                            }
                        }
                    }
                }

                .accountInfo {
                    flex-grow: 1;
                    flex-shrink: 1;
                    margin-left: auto;
                    margin-right: auto;
                    max-width: 600px;
                    width: 100%;

                    .wrapper {
                        flex-grow: 1;
                        flex-shrink: 1;
                        overflow: auto;

                        .accountContent {
                            padding-left: 80px;
                            padding-right: 80px;

                            .infoHeader {
                                margin-bottom: 20px;
                                margin-top: 20px;

                                h1 {
                                    min-width: 0px;
                                    color: rgb(15, 20, 25);
                                    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
                                    font-size: 31px;
                                    font-weight: 700;
                                    line-height: 36px;
                                    word-wrap: break-word;
                                    text-overflow: unset;

                                    span {
                                        text-overflow: unset;
                                        word-wrap: break-word;
                                        font-family: inherit;
                                        min-width: 0px;
                                    }
                                }
                            }

                            .nameBox, .loginBox {
                                padding: 12px 0px;

                                label {
                                    flex-direction: row;
                                    border-color: rgb(207, 217, 222);
                                    border-radius: 4px;
                                    border-width: 1px;

                                    .inputWrap {
                                        flex-grow: 1;
                                        flex-shrink: 1;

                                        .userInput {
                                            position: absolute;
                                            flex-direction: row;
                                            justify-content: space-between;
                                            height: 100%;
                                            width: 100%;

                                            .textWrap {
                                                padding: 16px 8px 0px 8px;
                                                max-width: 100%;
                                                min-width: 0px;
                                                text-overflow: unset;
                                                color: rgb(83, 100, 113);
                                                font-size: 17px;
                                                font-weight: 400;
                                                font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
                                                transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s, color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s, font-size 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s, padding-top 150ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
                                                line-height: 24px;
                                                word-wrap: break-word;
                                                white-space: nowrap;
                                                overflow-x: hidden;
                                                overflow-y: hidden;

                                                span {
                                                    color: inherit;
                                                    min-width: 0px;
                                                    font-family: inherit;
                                                    word-wrap: break-word;
                                                    text-overflow: unset;
                                                }
                                            }

                                            .polite {
                                                display: none;
                                                max-width: 100%;
                                                flex: 1;
                                                justify-content: right;
                                                flex-direction: column;
                                                padding: 6px 6px 0px 6px;
                                                font-size: 13px;

                                                .politeWrap {
                                                    flex-direction: row;
                                                    justify-content: end;
                                                }
                                            }
                                        }

                                        .inputBox {
                                            flex-direction: row;
                                            flex-shrink: 1;
                                            flex-grow: 1;
                                            margin-top: 16px;
                                            padding: 12px 8px 8px 8px;
                                            overflow-x: hidden;
                                            overflow-y: hidden;

                                            .containerBlock {
                                                display: flex;
                                                text-overflow: unset;
                                                color: rgb(15, 20, 25);
                                                word-wrap: break-word;
                                                min-width: 0px;
                                                font-size: 17px;
                                                font-weight: 400;
                                                width: 100%;
                                                align-items: center;
                                                line-height: 24px;

                                                input {
                                                    box-sizing: border-box;
                                                    padding: 0px;
                                                    text-align: left;
                                                    width: 100%;
                                                    border-radius: 0px;
                                                    border-width: 0px;
                                                    background-color: rgba(0,0,0,0.00);
                                                    font-size: inherit;
                                                    appearance: none;
                                                    outline-style: none;
                                                }
                                            }
                                        }
                                    }
                                }

                                .assertive {
                                    flex-direction: row;
                                    padding-left: 8px;
                                    padding-right: 8px;

                                    .box {
                                        flex: 1;
                                        flex-direction: column;
                                        padding-right: 20px;
                                        padding-top: 2px;

                                        .hidden {
                                            display: none;
                                        }

                                        .assertiveContent {
                                            align-self: flex-start;
                                            min-width: 0px;
                                            font-size: 13px;
                                            color: rgb(244, 33, 46);
                                            font-weight: 400;
                                            line-height: 16px;
                                            text-overflow: unset;
                                            word-wrap: break-word;

                                            span {
                                                min-width: 0px;
                                                color: inherit;
                                                font-family: inherit;
                                                text-overflow: unset;
                                                word-wrap: break-word;
                                            }
                                        }
                                    }
                                }

                                .activeLabel, .emptyLabel, .invalidInput {
                                    .textWrap {
                                        &.focused {
                                            padding: 8px 8px 0px 8px !important;
                                            line-height: normal !important;
                                            span {
                                                vertical-align: top;
                                                font-size: small;
                                            }
                                        }
                                    }

                                    .polite {
                                        display: flex !important;
                                        flex-direction: row;
                                    }
                                }

                                .filled {
                                    .textWrap {
                                        padding: 8px 8px 0px 8px !important;
                                        line-height: normal !important;
                                        span {
                                            vertical-align: top;
                                            font-size: small;
                                        }
                                    }
                                }

                                .activeLabel {
                                    border-color: rgb(29, 155, 240);
                                    box-shadow: rgb(29, 155, 240) 0px 0px 0px 1px;

                                    .textWrap {
                                        span {
                                            color: rgb(29, 155, 240) !important;
                                        }
                                    }
                                }

                                .emptyLabel, .invalidInput {
                                    border-color: rgb(244, 33, 46);
                                    box-shadow: rgb(244, 33, 46) 0px 0px 0px 1px;

                                    .textWrap {
                                        &.focused  {
                                            span {
                                                color: rgb(244, 33, 46) !important;
                                            }
                                        }
                                    }
                                }

                                .invalidInput {
                                    .textWrap {
                                        span {
                                            color: rgb(244, 33, 46) !important;
                                        }
                                    }
                                }
                            }

                            .birthdayForm {
                                margin-top: 20px;

                                .title {
                                    margin-bottom: 8px;
                                    min-width: 0px;
                                    color: rgb(15, 20, 25);
                                    font-size: 15px;
                                    font-weight: 700;
                                    line-height: 20px;
                                    word-wrap: break-word;
                                    text-overflow: unset;
                                }

                                .subtitle {
                                    margin-bottom: 4px;
                                    min-width: 0px;
                                    color: rgb(83, 100, 113);
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 16px;
                                    text-overflow: unset;
                                    word-wrap: break-word;
                                }

                                .title, .subtitle {
                                    span {
                                        color: inherit;
                                        min-width: 0px;
                                        text-overflow: unset;
                                        word-wrap: break-word;
                                    }
                                }

                                .dataPicker {
                                    flex-direction: row;
                                    margin-bottom: 16px;
                                    margin-top: 16px;

                                    .dataBox {
                                        background-color: rgba(255,255,255,1.00);
                                        border-color: rgb(207, 217, 222);
                                        border-radius: 4px;
                                        border-width: 1px;
                                        color: rgb(83, 100, 113);

                                        label {
                                            position: absolute;
                                            padding-top: 8px;
                                            padding-left: 8px;
                                            padding-right: 8px;
                                            min-width: 0px;
                                            font-size: 13px;
                                            font-weight: 400;
                                            text-overflow: unset;
                                            color: inherit;
                                            line-height: 16px;
                                            word-wrap: break-word;
                                            pointer-events: none!important;

                                            span {
                                                color: inherit;
                                                text-overflow: unset;
                                                word-wrap: break-word;
                                                min-width: 0px;
                                            }
                                        }

                                        select {
                                            margin: 0px;
                                            margin-top: 16px;
                                            padding: 12px 8px 8px 8px;
                                            border-width: 0px;
                                            border-radius: 0px;
                                            background-color: rgba(0,0,0,0.00);
                                            color: rgba(15,20,25,1.00);
                                            font-size: 17px;
                                            line-height: 20px;
                                            outline-style: none;
                                            appearance: none;
                                            cursor: pointer;

                                            option {
                                                background-color: rgba(255,255,255,1.00);
                                            }
                                        }

                                        svg {
                                            display: inline-block;
                                            position: absolute;
                                            margin-top: -0.75em;
                                            max-width: 100%;
                                            vertical-align: text-bottom;
                                            height: 1.5em;
                                            right: 12px;
                                            top: 50%;
                                            color: rgba(83,100,113,1.00);
                                            pointer-events: none!important;
                                        }

                                        &.activeSelect {
                                            border-color: rgb(29, 155, 240);
                                            box-shadow: rgb(29, 155, 240) 0px 0px 0px 1px;
                                            color: rgb(29, 155, 240);
                                        }
                                    }

                                    .month {
                                        flex-grow: 2;
                                        margin-right: 12px;
                                    }

                                    .day {
                                        flex-grow: 1;
                                        margin-right: 12px;
                                    }

                                    .year {
                                        flex-grow: 1;
                                    }
                                }
                            }
                        }
                    }

                    .nextContainer {
                        padding-left: 80px;
                        padding-right: 80px;

                        .nextWrap {
                            margin-bottom: 24px;
                            margin-top: 24px;

                            .nextBox {
                                padding-left: 32px;
                                padding-right: 32px;
                                min-width: 52px;
                                min-height: 52px;
                                background-color: rgb(15, 20, 25);
                                border-radius: 9999px;
                                border-width: 1px;
                                border-style: solid;
                                border-color: rgba(0, 0, 0, 0);
                                transition-duration: 0.2s;
                                opacity: 0.5;
                                outline-style: none;

                                .nextContent {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;
                                    flex-grow: 1;
                                    align-items: center;
                                    min-width: 0px;
                                    text-align: center;
                                    text-overflow: unset;
                                    color: rgb(255, 255, 255);
                                    font-weight: 700;
                                    font-size: 15px;
                                    line-height: 20px;
                                    word-wrap: break-word;

                                    span {
                                        max-width: 100%;
                                        min-width: 0px;
                                        font-size: 17px;
                                        color: inherit;
                                        text-overflow: unset;
                                        line-height: 20px;
                                        word-wrap: break-word;
                                        white-space: nowrap;
                                        overflow-x: hidden;
                                        overflow-y: hidden;
                                    }
                                }

                                &.active {
                                    opacity: 1;
                                    transition-duration: 0.2s;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}